<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header></header>
    <!-- Add your EJS code here -->
    <table>
     <thead>
      <tr>
        <th>Short</th><th>Long</th>
      </tr>
      </thead>
      <tbody>
        <% for(var urlKey in urls) { %>
        <tr>
          <td><%= urlKey %></td><td> <%= urls[urlKey]%> </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <form method="POST" action="/urls/9sm5xK/delete">...</form>
</body>
</html>